*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.NavBar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: darkcyan;
}
.Enlaces{
    display: flex;
    
}
a{
    margin: 1rem;
    text-decoration: none;
    color: #fff;
}
.NavBar{
    justify-content: space-between;
}