*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    justify-content: center;
}
.NavBar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: darkcyan;
    margin: 1rem;
    width: 80vw;
    height: auto;
}

a{
    margin: 1rem;
    text-decoration: none;
    color: #fff;
}
