
body{
  background-color: rgb(0, 0, 0);
}
.Count{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width:16rem;
  flex-wrap: wrap;
  padding: 0.6em;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(109, 109, 109);
  width: 18rem;
}
.card2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}
button{
  width: 3em;
  margin: 0.4rem;
  background-color: darkcyan;
  border: none;
  border-radius: 5px;
}
.countQuantity{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnQuantity{
  padding: 3px;
}
.btnAdd{
  width: 10rem;
  height: 2rem;
}
.containerBtn{
  display: flex;
  flex-direction: column;
}
.imgContainer{
  width: 20vw;
}
img{
  border-radius: 5px;
  width: 100%;
  height: auto;
}
.listContainer{
  width: 80vw;
}